Repository acm-ucr/undecided, pull requests merged in 2023-11, with the labels that each got.

#28 created input component
  src/app/register/page.js
  src/components/Input.jsx
Labels: Ready to Review, Register

#31 Kanban Board
  src/app/profile/page.js
  src/components/Select.jsx
  src/components/profile/kanban/Card.jsx
  src/components/profile/kanban/Columns.jsx
  src/components/profile/kanban/Filters.jsx
  src/components/profile/kanban/Kanban.jsx
  src/data/Difficulty.js
Labels: Do Not Merge

#32 Add final splash screen
  src/components/Splash.jsx
Labels: Do Not Merge

#33 solutions page
  src/components/problems/Solutions.jsx
Labels: Ready to Review

#37 add table
  src/app/dashboard/page.js
  src/components/dashboard/Table.jsx
  src/data/Difficulty.js
  src/data/Topic.js
  tailwind.config.js
Labels: Do Not Merge, Dashboard

#35 Fardinzam/input component
  src/components/Input.jsx
Labels: Do Not Merge

#25 added register page components
  src/app/layout.js
  src/components/register/Register.jsx
Labels: Ready to Review, Register

#36 added files for problems page
  src/app/problems/page.js
  src/components/Navigation.jsx
  src/components/problems/Description.jsx
  src/components/problems/Problems.jsx
  src/components/problems/Solution.jsx
  src/components/problems/Submission.jsx
  src/components/problems/TextEditor.jsx
  src/data/Problem.js
Labels: Do Not Merge

#45 fixed editor overflow
  src/components/problems/TextEditor.jsx
Labels: Ready to Review, Problems

#30 Created Profile Modal
  src/app/globals.css
  src/app/profile/page.js
  src/components/Input.jsx
  src/components/profile/Header.jsx
  src/components/profile/Modal.jsx
  src/components/profile/header.jsx
Labels: Ready to Review, Profile

#50 added nunito font
  src/app/layout.js
Labels: Ready to Review

#49 added language switcher
  package-lock.json
  package.json
  src/components/problems/TextEditor.jsx
Labels: Ready to Review, Problems

#51 fix problem page scrolling
  src/app/problems/[...id]/page.js
Labels: Ready to Review, Problems

#52 solutions scrollable
  src/components/problems/Problem.jsx
Labels: Ready to Review
