Repository acm-ucr/undecided, pull requests merged in 2023-12, with the labels that each got.

#66 added clear function filters
  src/components/Select.jsx
Labels: Ready to Review

#64 codemirror min height
  src/components/problems/TextEditor.jsx
  tailwind.config.js
Labels: Ready to Review, Problems

#63 navigaton styles
  src/components/Navigation.jsx
Labels: Ready to Review, Problems

#61 Make Hollow Star
  src/components/problems/Breakdown.jsx
Labels: Problems

#59 table headers fix
  src/components/dashboard/Row.jsx
  src/components/dashboard/Table.jsx
Labels: Ready to Review

#58 added nav to problems
  src/app/layout.js
  src/app/problems/[...id]/page.js
Labels: Problems

#68 made modal bigger
  src/components/profile/Header.jsx
Labels: Ready to Review, Profile

#67 implemeted submissions tab
  src/components/problems/Breakdown.jsx
  src/components/problems/Card.jsx
  src/components/problems/Problem.jsx
  src/components/problems/Solutions.jsx
  src/components/problems/Submission.jsx
Labels: Ready to Review, Problems

#65 submit splash screen
  src/components/problems/Button.jsx
  src/components/problems/Problem.jsx
  src/components/problems/TextEditor.jsx
Labels: Ready to Review

#60 Add filters and search bar
  src/app/dashboard/page.js
  src/components/Search.jsx
  src/components/Select.jsx
  src/components/dashboard/Table.jsx
Labels: Dashboard

#77 fixed spacing
  src/components/dashboard/Table.jsx
Labels: Ready to Review, Dashboard

#76 flipped arrows
  src/components/Select.jsx
Labels: Ready to Review, Dashboard

#78 added solution code section
  package-lock.json
  package.json
  src/app/layout.js
  src/components/CopyButton.jsx
  src/components/problems/Breakdown.jsx
  src/components/problems/Card.jsx
Labels: Ready to Review, Problems

#83 added maxlength
  src/components/Search.jsx
Labels: Ready to Review, Dashboard

#82 fixed splash
  src/components/Splash.jsx
  src/components/problems/Problem.jsx
Labels: Ready to Review

#81 added hover animations for dashboard
  src/components/Navigation.jsx
  src/components/Select.jsx
  src/components/dashboard/Row.jsx
Labels: Ready to Review, Dashboard, Problems

#80 removed clear option for programming lang
  src/components/Select.jsx
  src/components/problems/TextEditor.jsx
Labels: Ready to Review
